    <article id="post-789" class="post-789 post type-post status-publish format-standard hentry category-4"> 
     <header class="entry-header"> 
      <h1 class="entry-title"><!--{articleSingleArticle.title}--></h1> 
      <div class="below-title-meta"> 
       <div class="adt">
        <span class="meta-sep">📅📆</span> 
        <span class="date updated"><!--{articleSingleArticle.createDate}--></span> 
       </div> 
      </div>
      <!-- below title meta end --> 
     </header>
     <!-- .entry-header --> 
     <div class="entry-content"> 
			<!--{articleSingleArticle.contentHtml}-->
     </div>
     <!-- .entry-content --> 
	<footer class="entry-meta">
		<span>分类: 
			<!--{articleSingleArticleCategory.html}-->	
			</span>
		<span>标签：
			<!--{articleSingleArticleTags.html}-->
		</span>			
	</footer>
     <!-- .entry-meta --> 
    </article>
