<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><!--{opt.siteName}--></title>
  <meta name="keywords" content="<!--{opt.keyWords}-->">
  <meta name="description" content="<!--{opt.siteDescription}-->">
  <style>
    img.wp-smiley,
    img.emoji {
      display: inline !important;
      border: none !important;
      box-shadow: none !important;
      height: 1em !important;
      width: 1em !important;
      margin: 0 .07em !important;
      vertical-align: -0.1em !important;
      background: none !important;
      padding: 0 !important;
    }
  </style>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/wp/themes/iconic-one/2.1.8/style.min.css?ver=1.7.8">
</head>
<body>
  <header>
    <h1><a href="/" title="<!--{opt.siteName}-->"><!--{opt.siteName}--></a></h1>
    <p class="site-description"><!--{opt.siteDescription}--></p>
  </header>
  <nav>
    <!--{widgetMenu.html}-->
  </nav>
  <main>
    <!--{articleList.html}-->
    <!--{articleSingle.html}-->
  </main>
  <aside>
    <!--{widgetRecently.html}-->
    <!--{widgetCategory.html}-->
    <!--{widgetTags.html}-->
    <p>链接</p>
    <ul>
      <li><a href="/admin/">管理站点</a></li>
    </ul>
  </aside>
  <footer>
    <p>&copy; <a href="https://www.openai.com">OpenAI</a> <!--{opt.copyYear}--></p>
  </footer>
  <script src="https://cdn.jsdelivr.net/wp/themes/iconic-one/2.1.8/js/custom.min.js?ver=2.1.8" defer></script>
  <script src="https://cdn.jsdelivr.net/gh/gdtool/zhaopp/cfblog/js/scrolltotop.js" defer></script>
  <script src="https://cdn.jsdelivr.net/gh/gdtool/zhaopp/cfblog/js/highlight.pack.js" defer></script>
  <script src="https://cdn.jsdelivr.net/gh/gdtool/zhaopp/cfblog/js/lazyload.min.js" defer></script>
  <script src="https://cdn.jsdelivr.net/gh/gdtool/zhaopp/cfblog/js/intersection-observer.js" defer></script>
  <script>
    var lazyloadImage = document.querySelectorAll("img.lazyload");
    var lazyloadImageObserver = new IntersectionObserver(function(entries, observer) {
      entries.forEach(function(entry) {
        if (entry.isIntersecting) {
          var img = entry.target;
          img.src = img.dataset.src;
          img.classList.remove("lazyload");
          lazyloadImageObserver.unobserve(img);
        }
      });
    });
    lazyloadImage.forEach(function(img) {
      lazyloadImageObserver.observe(img);
    });

    document.addEventListener('DOMContentLoaded', (event) => {
      document.querySelectorAll('pre code').forEach((block) => {
        hljs.highlightBlock(block);
      });
    });
  </script>
</body>
</html>
